# Airline Passenger Satisfaction 데이터 설명

- 항공사 승객 만족도 조사
- 만족 또는 불만족 승객과 높은 상관 관계가 있는 요소는 무엇인가? 
- 승객 만족도를 예측할 수 있는가?


- **데이터 특성 요소**
  - 성별(Gender) : 여성(Female), 남성(Male)
  - 고객 유형(Customer Type) : 단골승객?(loyal customer), 일반승객(disloyal customer)
  - 나이(Age)
  - 여행 유형(Type of Travel) : 여행(Personal Travel), 출장(business travel)
  - 클래스(Class) : Business, Eco, Eco Plus
  - 비행 거리(Flight distance)
  - 기내 와이파이 서비스(Inflight wifi service) : 만족도(0=없음, 1~5)
  - 출발/도착 시간의 편리함(Departure/Arrival time convenient) : 만족도
  - 온라인 예약의 용이성(Ease of Online booking) : 만족도
  - 게이트 위치(Gate location) : 만족도
  - 식사, 음료(Food and drink) : 만족도
  - 온라인 탑승(Online boarding) : 만족도
  - 좌석의 편안함(Seat comfort) : 만족도
  - 기내 엔터테인먼트(Inflight entertainment) : 만족도
  - 탑승 서비스(On-board service) : 만족도
  - 다리를 뻗을 공간(Leg room service) : 만족도
  - 수화물 처리(Baggage handling) : 만족도
  - 체크인 서비스(Check-in service) : 만족도
  - 기내 서비스(Inflight service) : 만족도
  - 청결함(Cleanliness) : 만족도
  - 출발 지연 시간(Departure Delay in Minutes) : 분 단위
  - 도착 지연 시간(Arrival Delay in Minutes) : 분 단위
  - 만족도 (Satisfaction) : 만족(satisfied), 중립(neutral) & 불만족(dissatisfaction)

# **1. 데이터 불러오기**

In [20]:
# 구글 코랩 <-> 구글 드라이브 연동
from google.colab import drive
import pandas as pd
drive.mount('/content/drive')
train = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/SAI - A/Kaggle/Airline Passenger Satisfaction/train.csv')
test = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/SAI - A/Kaggle/Airline Passenger Satisfaction/test.csv')

passenger = pd.concat([train,test])

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [15]:
passenger

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,25971,78463,Male,disloyal Customer,34,Business travel,Business,526,3,3,...,4,3,2,4,4,5,4,0,0.0,neutral or dissatisfied
25972,25972,71167,Male,Loyal Customer,23,Business travel,Business,646,4,4,...,4,4,5,5,5,5,4,0,0.0,satisfied
25973,25973,37675,Female,Loyal Customer,17,Personal Travel,Eco,828,2,5,...,2,4,3,4,5,4,2,0,0.0,neutral or dissatisfied
25974,25974,90086,Male,Loyal Customer,14,Business travel,Business,1127,3,3,...,4,3,2,5,4,5,4,0,0.0,satisfied
25975,25975,34799,Female,Loyal Customer,42,Personal Travel,Eco,264,2,5,...,1,1,2,1,1,1,1,0,0.0,neutral or dissatisfied

In [16]:
passenger.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129880 entries, 0 to 25975
Data columns (total 25 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Unnamed: 0                         129880 non-null  int64
 1   id                                 129880 non-null  int64
 2   Gender                             129880 non-null  object
 3   Customer Type                      129880 non-null  object
 4   Age                                129880 non-null  int64
 5   Type of Travel                     129880 non-null  object
 6   Class                              129880 non-null  object
 7   Flight Distance                    129880 non-null  int64
 8   Inflight wifi service              129880 non-null  int64
 9   Departure/Arrival time convenient  129880 non-null  int64
 10  Ease of Online booking             129880 non-null  int64
 11  Gate location                      129880 non-null  int64
 12  Food and drink                     129880 non-null  int64
 13  Online boarding                    129880 non-null  int64
 14  Seat comfort                       129880 non-null  int64
 15  Inflight entertainment             129880 non-null  int64
 16  On-board service                   129880 non-null  int64
 17  Leg room service                   129880 non-null  int64
 18  Baggage handling                   129880 non-null  int64
 19  Checkin service                    129880 non-null  int64
 20  Inflight service                   129880 non-null  int64
 21  Cleanliness                        129880 non-null  int64
 22  Departure Delay in Minutes         129880 non-null  int64
 23  Arrival Delay in Minutes           129487 non-null  float64
 24  satisfaction                       129880 non-null  object
dtypes: float64(1), int64(19), object(5)
memory usage: 25.8+ MB

In [17]:
passenger.describe()

,Unnamed: 0,id,Age,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
count,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129487.000000
mean,44158.700000,64940.500000,39.427957,1190.316392,2.728696,3.057599,2.756876,2.976925,3.204774,3.252633,3.441361,3.358077,3.383023,3.350878,3.632114,3.306267,3.642193,3.286326,14.713713,15.091129
std,31207.377062,37493.270818,15.119360,997.452477,1.329340,1.526741,1.401740,1.278520,1.329933,1.350719,1.319289,1.334049,1.287099,1.316252,1.180025,1.266185,1.176669,1.313682,38.071126,38.465650
min,0.000000,1.000000,7.000000,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,16234.750000,32470.750000,27.000000,414.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000
50%,38963.500000,64940.500000,40.000000,844.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.000000,0.000000,0.000000
75%,71433.250000,97410.250000,51.000000,1744.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,5.000000,4.000000,12.000000,13.000000
max,103903.000000,129880.000000,85.000000,4983.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1592.000000,1584.000000

# **2. 데이터 정리**

1. Unnamed: 0 열 & id 열삭제
2. Arrival Delay in Minutes에 있는 Null 값 행을 제거 !

3. Gender 레이블 인코딩
4. Customer Type 레이블 인코딩
5. Type of Travel 레이블 인코딩
6. Class 레이블 인코딩
7. satisfaction 레이블 인코딩

8. Age : UN 나이 분류에 따름 ⇒ 0∼17세 = 미성년자(0), 18∼65세 = 청년(1), 66∼79세 = 중년(2), 80세∼ = 노년(3)

9. Flight Distance : 0 ~ 1 값으로 정규화
10. Departure Delay in Minutes : 0 ~ 1 값으로 정규화
11. Arrival Delay in Minutes : 0 ~ 1 값으로 정규화

In [21]:
# 1. Unnamed: 0 열 & id 열 삭제
data = passenger.drop(['Unnamed: 0','id'], axis = 1)

# 2. 결측치 포함 행 제거
data.dropna()

### 레이블 인코딩
from sklearn.preprocessing import LabelEncoder

# 3. Gender 레이블 인코딩
encoderG = LabelEncoder()
encoderG.fit(data['Gender'])
data['Gender'] = encoderG.transform(data['Gender'])
print(encoderG.classes_)

# 4. Customer Type 레이블 인코딩
encoderCT = LabelEncoder()
encoderCT.fit(data['Customer Type'])
data['Customer Type'] = encoderCT.transform(data['Customer Type'])
print(encoderCT.classes_)

# 5. Type of Travel 레이블 인코딩
encoderTT = LabelEncoder()
encoderTT.fit(data['Type of Travel'])
data['Type of Travel'] = encoderTT.transform(data['Type of Travel'])
print(encoderTT.classes_)

# 6. Class 레이블 인코딩
encoderC = LabelEncoder()
encoderC.fit(data['Class'])
data['Class'] = encoderC.transform(data['Class'])
print(encoderC.classes_)
#ClassMap = {"Business" : 0, "Eco" : 1, "Eco Plus" : 2}
#data['Class'] = data['Class'].map(ClassMap)

# 7. satisfaction 레이블 인코딩
encoderS = LabelEncoder()
encoderS.fit(data['satisfaction'])
data['satisfaction'] = encoderS.transform(data['satisfaction'])
print(encoderS.classes_)

# 8. Age 매핑
def get_category(age):
  cat = int()
  if age <= 17: cat = 0
  elif age <= 65 : cat = 1
  elif age <= 79 : cat = 2
  else : cat = 3
  return cat

data['Age'] = data['Age'].apply(lambda x : get_category(x))

### 정규화 스케일링
# 9. Flight Distance 스케일링
data['Flight Distance'] = (data['Flight Distance'] - data['Flight Distance'].min()) / (data['Flight Distance'].max() - data['Flight Distance'].min())

# 10. Departure Delay in Minutes 스케일링
data['Departure Delay in Minutes'] = (data['Departure Delay in Minutes'] - data['Departure Delay in Minutes'].min()) / (data['Departure Delay in Minutes'].max() - data['Departure Delay in Minutes'].min())

# 11. Arrival Delay in Minutes 스케일링
data['Arrival Delay in Minutes'] = (data['Arrival Delay in Minutes'] - data['Arrival Delay in Minutes'].min()) / (data['Arrival Delay in Minutes'].max() - data['Arrival Delay in Minutes'].min())

### 확인 !
data

['Female' 'Male']
['Loyal Customer' 'disloyal Customer']
['Business travel' 'Personal Travel']
['Business' 'Eco' 'Eco Plus']
['neutral or dissatisfied' 'satisfied']

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,1,0,0,1,2,0.086632,3,4,3,1,...,5,4,3,4,4,5,5,0.015704,0.011364,0
1,1,1,1,0,0,0.041195,3,2,3,3,...,1,1,5,3,1,4,1,0.000628,0.003788,0
2,0,0,1,0,0,0.224354,2,2,2,2,...,5,4,3,4,4,4,5,0.000000,0.000000,1
3,0,0,1,0,0,0.107229,2,5,5,5,...,2,2,5,3,1,4,2,0.006910,0.005682,0
4,1,0,1,0,0,0.036955,3,3,3,3,...,3,3,4,4,3,3,3,0.000000,0.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,1,1,1,0,0,0.099960,3,3,3,1,...,4,3,2,4,4,5,4,0.000000,0.000000,0
25972,1,0,1,0,0,0.124192,4,4,4,4,...,4,4,5,5,5,5,4,0.000000,0.000000,1
25973,0,0,0,1,1,0.160945,2,5,1,5,...,2,4,3,4,5,4,2,0.000000,0.000000,0
25974,1,0,0,0,0,0.221325,3,3,3,3,...,4,3,2,5,4,5,4,0.000000,0.000000,1
25975,0,0,1,1,1,0.047052,2,5,2,5,...,1,1,2,1,1,1,1,0.000000,0.000000,0

# *** 특성의 중요도 시각화??? ***

# **3. 학습 / 테스트 데이터 세트 분리**

In [22]:
# X, y 값 분리
input = pd.DataFrame(data, columns=['Gender','Customer Type','Age','Type of Travel','Class','Flight Distance','Inflight wifi service',
                                    'Departure/Arrival time convenient','Ease of Online booking','Gate location','Food and drink','Online boarding',
                                    'Seat comfort','Inflight entertainment','On-board service',	'Leg room service',	'Baggage handling',
                                    'Checkin service','Inflight service',	'Cleanliness',	'Departure Delay in Minutes',	'Arrival Delay in Minutes'])
target = pd.DataFrame(data, columns=['satisfaction'])

# train, test 데이터 세트 분리
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(input, target, test_size=0.3, random_state=0)
print(len(X_train), len(X_test), len(y_train), len(y_test))

90916 38964 90916 38964

# **4. 분류 알고리즘 별 비교**

In [ ]:
# 결정 트리
from sklearn.tree import DecisionTreeClassifier

In [ ]:
# 보팅 분류기

In [ ]:
# 랜덤 포레스트

In [ ]:
# GBM

In [ ]:
# XGBoost

In [ ]:
# LightGBM